* body{
    margin: 0px;
    padding: 0px;
}
#topoContainer{
    width: 980px;
    height: 200px;
    margin: auto;
    background-color: darkred;
}
#logo{
    width: 200px;
    height: 200px;
    float: left;
    background-color: brown;
}
#menu{
    width: 780px;
    height: 200px;
    float: right;
    background-color: firebrick;
    text-align: center;
    word-spacing: 10px;
}
#menu a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
#banner{
    width: 700px;
    height: 400px;
    background-color: rgb(0, 0, 0);
    margin: auto;
    margin-top: 50px;
}

#conteudoSite{
    width: 980px;
    height: 500px;
    background-color: aliceblue;
    margin: auto;
    margin-top: 50px;
}
#esquerda{
    width: 450px;
    height: 500px;
    float: left;
    background-color: maroon;
}
#direita{
    width: 450px;
    height: 500px;
    background-color: maroon;
    float: right;
}
#rodape{
    width: 980px;
    height: 50px;
    background-color: darkred;
    margin: auto;
    margin-top: 50px;
}